* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

h1 {
	font-size: 50px;
	text-align: center;
	background: #e07e74;
	color: white;
	padding: 20px;
}

form {
	margin: 20px;
	text-align: center;
}

input, select {
	margin-bottom: 20px;
	padding: 2px;
	border: green solid 2px;
	border-radius: 4px;
	width: 300px;
}

.button {
	width: 148px;
	border: 1px solid black;
}

.button:hover {
	border: 1px solid red;
	background: black;
	color: white;
}

label {
	font-weight: 550;
	font-size: 25px; display : block;
	margin-bottom: 10px;
	display: block;
}